.pos-multi-currency-button {
    min-width: 100%;
}

.pos-multi-currency-label {
    color: #017e84;
    font-size: 0.85rem;
    padding-inline: 0.75rem;
}

.pos-multi-currency-receipt-label {
    color: #017e84;
    display: inline-block;
    font-size: 75%;
    margin-inline-start: 0.25rem;
}

.pos-multi-currency-closing-line {
    color: #017e84 !important;
    font-size: 0.9rem;
}
